.searchBar {
  background-color: white;
  width: 40vw !important;
  border-radius: 20px;
  :global {
    fieldset {
      border: none !important;
    }
    .MuiOutlinedInput-root {
      padding: 4px 20px !important;
    }
  }
}

.sidebar {
  :global {
    .ant-layout-sider {
      padding-top: 30px;
      height: 100%;
      background-color: #222433;
      max-width: 250px !important;
      min-width: 250px !important;
    }
    .ant-menu.ant-menu-dark {
      background-color: #222433;
    }
    .ant-menu-inline > .ant-menu-item {
      height: 55px !important;
      line-height: 55px !important;
      border: 1px solid #fea628;
      border-left: 4px solid transparent;
      &:hover {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }
    .ant-menu-item-selected {
      background-color: #464647 !important;
      border-left: 4px solid #fea628 !important;
      .ant-menu-item-icon,
      span {
        filter: brightness(0) saturate(100%) invert(76%) sepia(53%)
          saturate(2057%) hue-rotate(338deg) brightness(101%) contrast(99%);
      }
    }
  }
}
