.forgotPassword {
  text-align: right;
  font-size: 14;
  min-width: 26vw;
  color: blue;
  cursor: pointer;
}

.mes {
  background-color: #D2EEDD;
  color: #69745e;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}